{% extends 'base.html.twig' %}

{% block title %}Edit Galerie{% endblock %}

{% block body %}
    <h1>Edit Galerie</h1>

    {{ include('galerie_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_galerie_crud_index') }}">back to list</a>

    {{ include('galerie_crud/_delete_form.html.twig') }}
{% endblock %}
