{% extends 'base.html.twig' %}

{% block title %}New Remontées{% endblock %}

{% block body %}
    <h1>Create new Remontées</h1>

    {{ include('remontées/_form.html.twig') }}

    <a href="{{ path('app_remont_es_index') }}">back to list</a>
{% endblock %}
