
<section class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <div class="footer-icon"></div>
            <div class="footer-text">Val cenis</div>
        </div>

        <div class="links">
            <a href="" class="footer-item">acceuil</a>
            <a href="galerie" class="footer-item">galerie</a>
            <a href="" class="footer-item">Contact</a>
        </div>

        <div class="links">
            <a href="" class="footer-item">Le ski</a>
            <a href="" class="footer-item">Les activités et loisirs</a>
            <a href="" class="footer-item">Les hébergements</a>
            <a href="" class="footer-item">L'agenda</a>
            <a href="" class="footer-item">Réserver votre itinéraire</a>
        </div>
    </div>
</section>